############ Configure Logger ##########

[loggers]
keys=root, syncer

[handlers]
keys=consoleHandler,fileHandler

[formatters]
keys=simpleFormatter

[logger_root]
level=INFO
handlers=consoleHandler
qualname=MAIN

[logger_syncer]
level=DEBUG
handlers=consoleHandler,fileHandler
propagate=0
qualname=MAIN

[handler_consoleHandler]
class=StreamHandler
formatter=simpleFormatter
args=(sys.stdout,)

[handler_fileHandler]
class=FileHandler
formatter=simpleFormatter
args=('/var/log/BucketSyncer/BucketSyncer.log',)

[formatter_simpleFormatter]
format=[%(asctime)s] %(levelname)s %(message)s
datefmt=%Y-%b-%d %H:%M:%S


########## Configure Notifier ##########

[AmazonSNS]
## only use amazon for daily report
sns_topic_caution = <sns_topic_caution>
aws_region = <aws_region>
aws_access_key_id = <aws_access_key_id>
aws_secret_access_key = <aws_secret_access_key>

[notification]
plugins = amazon_sns
